<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
        <!--BABEL STANDALONE SCRIPT IDEAL FOR DEVELOPMENT NOT FOR PRODUCTION-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.14.0/babel.min.js"></script>
        <!--<script src="./stateLessComponent.js" type="text/babel"></script>-->
        <style>
            .pink {
                color : pink;
                margin-top: 10%
            }
            .blue{
                color : blue;
                 margin-top: 10%
            }
            </style>
    </head>
    <body>

        <!--STATELESS COMPONENT 1 -->
        <div id="RenderComponent1">
        </div>

         <div id="RenderComponent2">
        </div>

         <div id="RenderComponent3">
        </div>


     <script type="text/babel" src="./renderFunction.js"></script>
    
    </body>
</html>