<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
        <!--BABEL STANDALONE SCRIPT IDEAL FOR DEVELOPMENT NOT FOR PRODUCTION-->
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <!--<script src="./stateLessComponent.js" type="text/babel"></script>-->
        <style>
            .highlight {
                color : red
            }
            .highlight-jsx{
                color : blue
            }
            </style>
    </head>
    <body>

        <!--STATELESS COMPONENT 1 -->
        <div id="StateLessComponent1">
        </div>
     <script type="text/babel" src="stateLessComponent.js"></script>
    </body>
</html>